{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'app:home'%}" id="logoDashboard">
        <div class="sidebar-brand-icon">
            <i class="fas fa-chart-area"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SCOA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class='nav-item
        {% if activeTab == "dashboard" %}
        active
        {% endif %}
        '>
        <a class="nav-link" href="{% url 'app:home'%}" id="sidebarDashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Recommendations-->
    <li class="nav-item
        {% if activeTab == "prediction" %}
        active
        {% endif %}
        ">
        <a class="nav-link" href="{% url 'app:prediction' %}" id="sidebarPrediction">
            <i class="fas fa-fw fa-search"></i>
            <span>Prediction</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Analysts
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item
        {% if activeTab == "geneticAlgo" %}
            active
        {% endif %}
    ">
        <a class="nav-link" href="{% url 'app:geneticAlgo' %}" id="sidebarGeneticAlgo">
            <i class="fas fa-fw fa-project-diagram"></i>
            <span>Genetic Algorithm</span>
        </a>
    </li>
    <li class="nav-item
        {% if activeTab == "aprOnClustering" %}
            active
        {% endif %}
    ">
 {%comment%}       <a class="nav-link" href="{% url 'home:aprOnClustering'%}" id="sidebarAprOnClustering">
            <i class="fas fa-fw fa-project-diagram"></i>
            <span>Apriori On Clusters</span>
        </a>
        {%endcomment%}
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->
</ul>